<div class="row">
    <div class="col-12">
        <h3 class="center-align"> Cricketers Directory </h3>
    </div>
</div>

<div class="row">
    <% Cricketer.all.each do |cricketer| %>
        <div class="col s6 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Name: <%= cricketer.name %></span>
                    <p>Email: <%= cricketer.email %></p>
                    <p>Course Enrollments: None</p>
                </div>
                <div class="card-action">
                    <%= link_to "View Profile", cricketer_path(cricketer) %>
                </div>
            </div>
        </div>
    <% end %>
</div>